<%- include('partials/header.ejs') %>
<div class="emailInfo">
    <span>You must have a valid @umn.edu email to continue</span>
</div>
<div class="d-flex flex-column align-items-center mt-3">
    <div class="g-sign-in-button">
        <a href="/auth/google" style="text-decoration: none; color: white">
            <div class="content-wrapper">
                <div class="logo-wrapper">
                    <img
                        class="w-100 h-100 p-2"
                        src="../images/g-logo.png"
                    />
                </div>
                <span class="text-container">
                    <span>Continue with Google</span>
                </span>
            </div>
        </a>
    </div>
    <div class="demo-sign-in-button">
        <a style="text-decoration: none; color: white">
            <div class="content-wrapper d-flex justify-content-center">
                <span class="text-container">
                    <span>Use Demo Account</span>
                </span>
            </div>
        </a>
    </div>
</div>
<script src="../js/login.js"></script>
<%- include('partials/footer.ejs') %>