<%- include('partials/header.ejs') %>
<section class="login-container">
    <a href="/" class="text-decoration-none">
        <section class="loginHeading">
            <img class="logo-img" src="../images/goldy.jpg" alt="Goldy Gopher">
            <span class="title-text"><span class="text-gold">Gopher</span> <span class="text-maroon">Market</span></span>
        </section>
    </a>    
    <section class="login-card">
        <div>
            <span class="login-description">Log in to Gopher Market</span>
            <br>
            <span class="login-description">(@umn.edu email required)</span>
        </div>
        <button id="google-login-btn" class="login-btn"><img class="google-logo" src="../images/g-logo.png"/>Continue with Google</button>
        <button id="demo-login-btn" class="login-btn"><img class="gopher-logo" src="../images/goldy.jpg"/>Use Demo Account</button>
        <hr>
        <span><a href="https://buymeacoffee.com/elsdonc" target="_blank">Support Gopher Market</a></span>
    </section>
    <span id="attribution"><a href="https://www.freepik.com/free-vector/ecommerce-web-page-concept-illustration_21727022.htm#query=marketplace&position=8&from_view=search&track=sph">Image by storyset</a> on Freepik</span>
    <img class="graphic graphic-1" src="../images/login-graphic1.svg" alt="Marketplace Graphic">
    <img class="graphic graphic-2" src="../images/login-graphic2.svg" alt="Marketplace Graphic">
</section>

<script src="../../js/login.js"></script>
<%- include('partials/footer.ejs') %>