<%- include('partials/header.ejs') %>
<section class="index">
    <section class="filter">
        <%- include('partials/filter.ejs') %>
    </section>
    <section class="results">
        <%- include('partials/title.ejs') %>
    </section>
</section>

<script src="../js/index.js"></script>
<%- include('partials/footer.ejs') %>
