<%- include('partials/header.ejs') %>
<div class="results">
    <%- include('partials/title.ejs') %>
    <%- include('partials/bookmarkedItems.ejs') %>
</div>

<script src="../js/starred.js"></script>
<%- include('partials/footer.ejs') %>
