:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
/* Filter */
.filtersContainer {
    background-color: white;
    padding: 5% 20px;
    margin-top: 2.5%;
    border: 1px solid var(--lightgray);
    height: auto;
}
.filtersContainer li a {
    text-decoration: none;
    color: black;
}
.filterLabel, .filterTitle {
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 20px;
}
.filterTitle {
    font-size: 1.15rem;
    font-weight: 600;
    padding-bottom: 0;
}
.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
input[type='radio'] {
    accent-color: var(--maroon);
}
.input-field {
    padding-bottom: 15px;
}
.icon {
    height: 17px;
    width: 20px;
    color: var(--gold);
}
.space-left {
    padding-left: 2px;
}
#filterBtn {
    background-color: var(--darkgold);
}
#resetFilterBtn {
    background-color: var(--lightgray);
}

/* Price */
input[type="range"] {
    accent-color: var(--lightmaroon);
}
#min_value, #max_value {
    border: 1px solid var(--lightgray);
    padding: 5px 10px;
    border-radius: 6px;
}

/* Filter Tags */
.filterTags {
    z-index: 50;
    margin-top: 50px;
}