:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
#items {
    width: 100%;
    margin-top: 110px;
    gap: 2%;
}
#items a {
    color: black;
}
.card {
    width: 18.4%;
    border: none;
}
.itemLink {
    width: 100%;
    text-decoration: none;
    color: black;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.card-body {
    padding: 5px 5px;
    line-height: 1.5rem;
}
.item-name, .item-price {
    display: block;
    margin-bottom: 0;
    width: 100%;
}
.item-name {
    font-weight: 600;
    font-size: 1.2rem;
}
.view {
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    display: none;
    z-index: 2;
}
.location {
    position: relative;
    padding-left: 5px;
}
.bookmarkAnchor {
    color: black;
    padding: 10px;
    background-color:white;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.bi-bookmark-fill {
    color: #ffcc33;
}
.bi-bookmark {
    color: rgba(128, 128, 128, 0.384);
}

/* No Items */
.no-items-text {
    margin-top: 120px;
}