:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
#itemPage {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.itemImage {
    width: 25vw;
    -webkit-box-shadow: 0 0 100px rgb(0, 0, 0);
    box-shadow: 0 0 50px #0000001a;
}
.itemInfo {
    padding: 10px;
}
.contactSellerBtn {
    width: 20vw;
    background-color: var(--gold);
    border: none;
    color: black;
    font-size: 1.25rem;
}
.contactSellerBtn:hover {
    background-color: var(--gold);
    color: black;
}

@media only screen and (max-width: 600px) {
    #itemPage {
        flex-direction: column;
        text-align: center;
        gap: 1%;
    }
    .itemImage {
        width: 80%;
    }
    .contactSellerBtn {
        width: 100%;
        margin-bottom: 5%;
    }
}