:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}

.login-container {
    width: 100%;
    height: 100vh;
    background-color: var(--offwhite);
}

.logo-img {
    height: 45px;
    mix-blend-mode: multiply;
}

.loginHeading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
}

.title-text {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -3px;
}

.login-card {
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: auto;
    padding: 40px 0;
    box-shadow: var(--lightgray) 0 0 2px 2px;
    border-radius: 5px;
    background-color: white;
}

.login-description {
    font-weight: 700;
    color: var(--gray);
}

.login-card hr {
    width: 80%;
    margin: 0 auto;
}

.login-btn {
    height: 40px;
    width: 80%;
    max-width: 585px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: var(--darkgray);
    border: none;
    border-radius: 4px;
    box-shadow: var(--lightgray) 0 0 2px 2px;
}

.google-logo, .gopher-logo {
    height: 75%;
    mix-blend-mode: multiply;
}

.graphic {
    position: absolute;
    width: 30%;
}

.graphic-1 {
    left: 0;
    bottom: 0;
}

.graphic-2 {
    right: 0;
    bottom: 0;
}