:root {
    --superlightmaroon: #9000227c;
    --lightmaroon: #900022;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
.navbar {
    width: 100%;
    height: 75px;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--lightgray);
    z-index: 100;
    padding-right: 32px;
}
nav ul {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}
nav li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoText {
    color: var(--lightgold);
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -3px;
}

/* DropDown */
.dropdown-menu {
    padding: 0;
}
.dropdown-toggle {
    border: none;
}
.dropdown-item {
    font-size: 1rem;
    margin: auto;
}
.account-dropdown-menu {
    outline: none;   
}

/* Search Bar */
.searchBar, .searchInput {
    border-radius: 30px;
}
.searchBar {
    height: 55px;
    width: 30vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    border: 1px solid var(--darkgold);
    background-color: white;
}
/* Search Button */
.searchBtn {
    height: 45px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    border: none;
    background-color: var(--darkgold);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.searchIcon {
    color: var(--maroon);
    height: auto;
    width: auto;
}
/* Search Input */
.searchInput {
    border: none;
    font-size: 1.25rem;
}
.searchInput::placeholder {
    color: var(--gray);
}
.searchInput:focus {
    color: black;
    box-shadow: none;
}
/* Navigation links */
.nav-link {
    color: black;
    font-weight: 600;
}
.nav-bookmark, .nav-profile {
    height: 15px;
}
#profile {
    border: none;
    cursor: pointer;
}
.nav-link-container {
    height: 40px;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.nav-link-container li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logout-btn {
    border: none;
    background-color: transparent;
}
.logout-btn:hover {
    background-color: #ff00008a;
}

/* Mobile Navigation */
.mobile-dropdown-button {
    display: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--maroon);
    color: var(--gold);
}
.mobile-nav-menu {
    display: none;
    width: calc(100vw - 55px);
    height: calc(100vh - 75px);
    position: fixed;
    top: 65px;
    z-index: 999;
    background-color: white;
    
}

@media (max-width:768px) {
    .navbar {
        border-bottom: none;
        padding-right: 29.5px;
    }
    nav ul {
        height: 125px;
        width: 100vw;
        background-color: white;
        align-items: flex-start;
    }
    .nav-link-container {
        padding-top: 25px;
    }
    .searchBar {
        position: absolute;
        top: 60px;
        width: calc(100vw - 60px);
    }
}

@media screen and (max-width: 475px) {
    /* Hide the desktop navigation links */
    .nav-link-container {
        display: none;
    }

    /* Show the mobile dropdown menu */
    .mobile-dropdown-button {
        display: block;
        margin-top: 15px;
    }

    .show-mobile-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .send-to-back {
        z-index: -1;
    }
}