:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
.navbar {
    width: 100vw;
    margin: 0 auto;
    padding: 15px 50px;
    height: auto;
    background-color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    z-index: 100;
}
.navbar * {
    overflow: hidden;
}
nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}
nav li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoText {
    color: var(--lightgold);
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -3px;
}
.text-maroon {
    color: var(--maroon);
}
/* Search Bar */
.searchBar {
    height: 55px;
    width: 30vw;
    position: relative;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
}
.searchBtn {
    height: 45px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    border: none;
    background-color: var(--darkgold);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.searchIcon {
    color: var(--offwhite);
    height: auto;
    width: auto;
}
.searchInput {
    border: none;
    font-size: 1.25rem;
}
.searchInput::placeholder {
    color: var(--gray);
}
.searchInput:focus {
    color: black;
    box-shadow: none;
}
#searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: black;
    width: 25px;
    height: 25px;
    background-color: var(--lightgray);
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
/* Navigation links */
.nav-link {
    color: black;
    font-weight: 600;
}
.nav-bookmark, .nav-profile {
    height: 15px;
}
#profile {
    border: none;
    cursor: pointer;
}
.profileNav {
    height: 40px;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profileNav li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoutBtn {
    border: none;
    background-color: transparent;
    padding: 0;
}
.logoutBtn:hover {
    color: var(--lightmaroon);
}

@media only screen and (max-width: 600px) {
    .searchBar {
        width: 70%;
        height: 6vh;
    }
    .searchInput {
        padding-left: 10%;
    }
    .bannerResults {
        width: 90vw;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .searchBar {
        width: 50%;
    }
    .bannerResults {
        width: 90vw;
    }
}
@media only screen and (max-width: 990px) {
    .active {
        border-bottom: 0;
        background-color: var(--gold);
        border-radius: 5px;
    }
    .navbar ul {
        padding-top: 10px;
    }
    .nav-item {
        width: 50%;
        margin-right: 10px;
    }
    .nav-link {
        margin-bottom: 10px;
        padding-left: 10px;
    }
    .logBtns {
        left: 55%;
    }
    .login {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }
}