@import url("https://fonts.cdnfonts.com/css/neutraface-text");
:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    font-family: "Neutraface Text", sans-serif;
}

.mainContainer {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Filter */
.filter {
    width: 20%;
    height: 100%;
    margin: 25px 0 0;
    position: sticky;
    top: 100px;
}
/* Results */
.results {
    width: 80%;
}


/* Page Title */
.title {
    width: 70%;
    color: black;
    background-color: white;
    z-index: 2;
    position: fixed;
    padding-top: 20px;
}

.title h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.title ul {
    height: 30px;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.title ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    background-color: var(--lightgray);
    padding: 0 10px;
    border-radius: 15px;
    width: auto;
}

.fa-circle-xmark {
    padding-left: 10px;
}

.fa-circle-xmark:hover {
    cursor: pointer;
}
