@import url("https://fonts.cdnfonts.com/css/neutraface-text");
:root {
    --lightmaroon: #900021;
    --maroon: #7a0019;
    --darkmaroon: #5b0013;
    --lightgold: #ffde7a;
    --gold: #ffcc33;
    --darkgold: #ffb71e;
    --lightgray: #d5d6d2;
    --gray: #777677;
    --darkgray: #5a5a5a;
    --offwhite: #f9f7f6;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    font-family: "Neutraface Text", sans-serif;
}

.text-maroon {
    color: var(--maroon);
}
.text-gold {
    color: var(--gold);
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.small-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Filter */
.filter {
    max-width: 320px;
    width: 20%;
    height: 100%;
    margin-top: 10px;
    position: fixed; 
}
input[type="checkbox"] {
    accent-color: var(--gold);
}

/* Results */
.results {
    max-width: 1280px;
    width: 80%;
    left: 20%;
    padding-left: 20px;
    position: relative;
}


/* Page Title */
.title {
    width: 100%;
    color: black;
    background-color: white;
    z-index: 2;
    position: fixed;
    padding: 10px 0;
}

.title h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.title ul {
    height: 30px;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.title ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    background-color: var(--lightgray);
    padding: 0 10px;
    border-radius: 15px;
    width: auto;
}

.fa-circle-xmark {
    padding-left: 10px;
}

.fa-circle-xmark:hover {
    cursor: pointer;
}

#attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}