<div
    class="banner d-flex flex-column justify-content-center align-items-center position-relative"
>
</div>
<% if (title != null) { %>
    <h2 class="bannerResults mt-4"><%= title %></h2>
<% } else { %>
    <h2 class="bannerResults mt-4">Browse Items</h2>
<% } %>
<ul class="filtersContainer">
    <li class="filter">
        <a class="" href="/">All Items</a>
    </li>
    <li class="dropdown filter">
        <a
            class="dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            Filter by Category
        </a>
        <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
        >
            <a class="dropdown-item" href="/textbooks"
                >Textbooks</a
            >
            <a class="dropdown-item" href="/school-supplies"
                >School Supplies</a
            >
            <a class="dropdown-item" href="/electronics"
                >Electronics</a
            >
            <a
                class="dropdown-item"
                href="/furniture-appliances"
                >Furniture/Appliances</a
            >
            <a class="dropdown-item" href="/clothing"
                >Clothing</a
            >
            <a class="dropdown-item" href="/kitchenware"
                >Kitchenware</a
            >
        </div>
    </li>
    <li class="dropdown filter">
        <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            Filter by Price
        </a>
        <div
            class="dropdown-menu"
        >
            <form method="POST" action="/filterPrice">
                <input
                    type="number"
                    class="form-control"
                    name="min"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                    placeholder="Min price"
                    aria-label="Min price"
                    aria-describedby="filter-price-addon"
                />
                <input
                    type="number"
                    class="form-control"
                    name="max"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                    placeholder="Max price"
                    aria-label="Max price"
                    aria-describedby="filter-price-addon"
                />
                <button type="submit" class="btn btn-primary">
                    Filter
                </button>
            </form>
        </div>
    </li>
    <li class="dropdown filter">
        <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            Filter by Location
        </a>
        <div
            class="dropdown-menu"
        >
            <a class="dropdown-item" href="/eastbank"
                >Eastbank</a
            >
            <a class="dropdown-item" href="/westbank"
                >Westbank</a
            >
            <a class="dropdown-item" href="/dinkytown"
                >DinkyTown</a
            >
            <a class="dropdown-item" href="/off-campus"
                >Off Campus</a
            >
        </div>
    </li>
</ul>