<section class="filtersContainer">
    <h3>Filter</h3>
    <h4>Category</h4>
    <form id="categoryFilter">
        <input type="radio" id="all_items" name="category" value="all">
        <label for="all_items">All Items</label><br>
        <input type="radio" id="textbooks" name="category" value="textbooks">
        <label for="textbooks">Textbooks</label><br>
        <input type="radio" id="school-supplies" name="category" value="school-supplies">
        <label for="school-supplies">School Supplies</label><br>
        <input type="radio" id="electronics" name="category" value="electronics">
        <label for="electronics">Electronics</label><br>
        <input type="radio" id="furniture-appliances" name="category" value="furniture-appliances">
        <label for="furniture-appliances" name="category">Furniture/Appliances</label><br>
        <input type="radio" id="clothing" name="category" value="clothing">
        <label for="clothing">Clothing</label><br>
        <input type="radio" id="kitchenware" name="category" value="kitchenware">
        <label for="kitchenware">Kitchenware</label><br>
    </form>
    
    <h4>Location</h4>
    <form id="locationFilter">
        <input type="radio" id="all_locations" value="all" name="location">
        <label for="all_locations">All locations</label><br>
        <input type="radio" id="eastbank" value="eastbank" name="location">
        <label for="eastbank">East Bank</label><br>
        <input type="radio" id="westbank" value="westbank" name="location">
        <label for="westbank">West Bank</label><br>
        <input type="radio" id="dinkytown" value="dinkytown" name="location">
        <label for="dinkytwon">DinkyTown</label><br>
        <input type="radio" id="off-campus" value="off-campus" name="location">
        <label for="off-campus">Off Campus</label><br>
    </form>

    <h4>Price</h4>
    <label for="min_input">Min</label>
    <input id="min_input" type="range" min="0" max="500" value="0" step="1" />
    <output>$<span id="min_value"></span></output><br/>
    <label for="max_input">Max</label>
    <input id="max_input" type="range" min="0" max="500" value="500" step="1" />
    <output>$<span id="max_value"></span></output>
    <button id="filterBtn">Apply Filters</button>
</section>