<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto position-relative align-items-center">
            <div class="d-flex flex-row gap-3 align-items-center">
                <a href="/"><span class="logoText">Gopher <span class="text-maroon">Market</span></span></a>
                <!-- Search Bar -->
                <div class="searchBar">
                    <input
                        id="searchInput"
                        class="searchInput form-control mr-sm-2 h-100"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        <% if (query.q) { %> value=<%=query.q%> <% } %>
                        />
                    <button class="searchBtn"><i class="fa-solid fa-magnifying-glass searchIcon"></i></button>
                </div>
            </div>
            
            <!-- Navigation Links -->
            <div class="nav-link-container">
                <% if (user) { %>
                <!-- Account -->
                <div class="dropdown d-flex flex-row align-items-center gap-1">
                    <img class="nav-profile" src="../../images/profile.png" alt="profile icon"/>
                    <div class="shadow-none btn dropdown-toggle p-0 d-flex flex-row align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi, <%=user.displayName.split(" ")[0]%>!
                    </div>
                    
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sellModal">Sell an Item</button></li>
                        <li><a class="dropdown-item" href="/userItems">My Items</a></li>
                        <li>
                            <form action="/logout" method="POST">
                                <button class="logout-btn dropdown-item" type="submit">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Saved -->
                <li>
                    <a href="/bookmarked" class="nav-link d-flex flex-row align-items-center gap-1"><svg class="nav-bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>Saved</a>
                </li>
               
                
                <% } else { %>
                <!-- Login -->
                <li class="login">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <% } %>
            </div>
        </ul>
    </div>
</nav>
<!-- Sell Modal -->
<div class="d-flex flex-row justify-content-center align-items-center">
    <div class="modal fade" id="sellModal" aria-labelledby="sellModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sellModalLabel">Sell Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form onsubmit="return validateForm()" id="form" class="m-auto" enctype="multipart/form-data" action="/sell/post" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Item Name</label>
                            <input type="text" class="form-control" id="name" placeholder="item name" name="name" required />
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Item Category</label>
                            <select id="category" name="category" class="form-select" aria-label="Default select example">
                                <option value="" selected hidden disabled>Open this select menu</option>
                                <option value="textbooks">textbooks</option>
                                <option value="school-supplies">school-supplies</option>
                                <option value="electronics">electronics</option>
                                <option value="furniture-appliances">furniture/appliances</option>
                                <option value="clothing">clothing</option>
                                <option value="kitchenware">kitchenware</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="condition" class="form-label">Item Condition</label>
                            <select id="condition" name="condition" class="form-select" aria-label="Default select example">
                                <option value="" selected hidden disabled>Open this select menu</option>
                                <option value="new">New</option>
                                <option value="like-new">Like New</option>
                                <option value="good">Good</option>
                                <option value="fair">Fair</option>
                                <option value="poor">Poor</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="deliveryMethod" class="form-label">Delivery Method</label>
                            <select id="deliveryMethod" name="deliveryMethod" class="form-select" aria-label="Default select example">
                                <option value="" selected hidden disabled>Open this select menu</option>
                                <option value="delivery">Delivery</option>
                                <option value="pick-up">Pick Up</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Item Location</label>
                            <select id="location" name="location" class="form-select" aria-label="Default select example">
                                <option value="" selected hidden disabled>Open this select menu</option>
                                <option value="westbank">westbank</option>
                                <option value="eastbank">eastbank</option>
                                <option value="dinkytown">dinkytown</option>
                                <option value="off-campus">off-campus</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Item Description
                                <span>(characters remaining:<strong><span id="counter">50</span></strong>)</span>
                            </label>
                            <textarea onkeyup="textCounter(this,'counter',50);" class="form-control" id="description" name="description" rows="3" maxlength="50" placeholder="description" required></textarea>
                        </div>
                        <div class="input-group mb-3 space-left">
                            <label for="price" class="form-label w-100">Item Price</label>
                            <span class="input-group-text">$</span>
                            <input type="number"
                                class="form-control" id="price" name="price" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" aria-label="Amount (to the nearest dollar)" required />
                        </div>
                        <div class="input-group mb-3 space-left">
                            <label for="image" class="form-label w-100">Upload an Image</label>
                            <img id="sell-form-image" src="" width="100%" height="100%" alt="uploaded image" />
                            <input type="file" onchange="loadSellImage(event)" class="form-control-file bg-light w-100" id="image" aria-describedby="image" aria-label="Upload" name="uploaded_file" accept="image/apng, image/avif, image/jpeg, image/png, image/svg+xml, image/webp" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <% if (user && user.googleId != "demo") { %>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="sellBtn" class="btn">Sell Item</button>
                        <% } else { %>
                        <span class="d-flex flex-row align-items-center gap-1"><i class="fa-solid fa-circle-exclamation demoAlert"></i>Demo users are restricted from selling items</span>
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>