<div
    class="banner d-flex flex-column justify-content-center align-items-center position-relative"
>
    <h1><%= title %></h1>
    <div class="searchBar position-absolute w-25">
        <input
            class="searchInput form-control mr-sm-2 h-100"
            type="search"
            placeholder="Search"
            aria-label="Search"
        />
    </div>
</div>
