<section class="title">
<% if (title != null) { %>
    <h2><%= title %></h2>
<% } else { %>
    <h2>Browse Items</h2>
<% } %>
<ul class="d-flex flex-row filterTags">
<% if (tags && tags.length > 0) { %>
    <% tags.forEach((tag) => { %>
        <li id="<%=tag.split(':')[0]%>" class="dismissFilterBtn"><span><%=tag%></span><i class="fa-regular fa-circle-xmark"></i></li>
    <% }) %>
<%} else { %>
    <li class="dismissFilterBtn"><span>no filters applied</span></li>
<% } %>
</ul>
</section>
