<section class="title">
<% if (title != null) { %>
    <h2><%= title %></h2>
<% } else { %>
    <h2>Browse Items</h2>
<% } %>
<% if (tags && tags.length > 0) { %>
<ul class="d-flex flex-row filterTags">
    <% tags.forEach((tag) => { %>
        <li><span><%=tag%></span><i class="fa-regular fa-circle-xmark"></i></li>
    <% }) %>
</ul>
<%}%>
</section>
